body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.content {
  margin-top: 0px;
  transition: margin-top 0.3s ease-in-out;
}

.content.expanded {
  margin-top: 130px;
}

.about-div {
  margin-top: 0.5rem;
}

.home-container {
  margin-bottom: 5rem;
  max-width: 1024px !important;
}

.heading-text {
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}

.home-picture {
  margin-bottom: 1rem;
}

.schedule-div {
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.schedule-header {
  margin-bottom: 1rem;
}

.game-details-header {
  margin-top: 1rem;
}

.game-details-div {
  margin-top: 1rem;
}

.map-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  margin: 1rem auto 2rem auto;
  max-width: 800px;
}

.map-container-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.game-details-buttons {
  margin: 0 auto 5rem auto;
  max-width: 800px;
}

.message-board-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.chat-container {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 400px;
  max-width: 800px;
  margin: 0 auto 2rem auto;
}

.chat-body {
  flex-grow: 1;
}

.chat-message {
  word-wrap: break-word;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 10px;
}

.chat-time {
  font-size: 12px;
  color: #888;
}

.message-input-div {
  max-width: 800px;
  margin: 0 auto 3rem auto;
}

.btn-circle {
  width: 40px;
  height: 40px;
  border-radius: 50% !important;
}

.messages-loading-container {
  height: 100vh;
}

.photo-card {
  width: 18rem;
}

.gallery-div {
  max-width: 915px;
}

.upload-picture-div {
  margin-bottom: 5rem;
}
